{% extends "base.html" %}
{% block 'start' %}


<div class="container mt-5">
  <form class="col-6 mx-auto card shadow-lg p-4" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h2>Recipe Form</h2>
    <hr>
    <!-- alter message -->
    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-warning {{ message.tags }}-dismissible fade show" role="alert">
            <strong>Dear User </strong>{{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
    {% endif %}
    <div class="mb-3">
      <label for="recipe_name" class="form-label">Recipe Name</label>
      <input type="text" name="recipe_name" class="form-control" id="recipe_name">
    </div>

    <div class="mb-3">
      <label for="recipe_discription" class="form-label">Recipe Discription</label>
      <textarea name="recipe_discription" id="recipe_discription" class="form-control"></textarea>
    </div>

    <div class="mb-3">
      <label for="recipe_image" class="form-label">Recipe Image</label>
      <input type="file" name="recipe_image" class="form-control" id="recipe_image">
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>






  

 <div class="div mt-5  col-10 mx-auto">
    <div class="div col-7 mx-auto card shadow-lg p-3 ">
      <form action="">
        <div class="mb-3">
          <label for="search" class="form-label">Search</label>
          <input type="text" name="search" class="form-control" id="search">
        </div>
        <button  type="submit" class="btn btn-primary">Search</button>
      </form>

    </div>
  </div> 



  <table class="table table table-striped mt-5 mb-5 shadow-lg">
    <thead class="table table-dark ">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Recipe Name</th>
        <th scope="col">Recipe Discription</th>
        <th scope="col">Recipe Image</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for queryset in queryset %}
        
      
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{queryset.recipe_name}}</td>
        <td>{{queryset.recipe_discription}}</td>
        <td>
          <img src="{{queryset.recipe_image.url}}" alt="" class="img-fluid rounded-top" style="max-width: 200px; max-height: 100px;">
        </td>
          
        <td>
          <a class="btn btn-danger" href="/delete_recipe/{{queryset.id}}">Delete</a> 
          <br><br>
          <a class="btn btn-success" href="/update_recipe/{{queryset.id}}">Update</a> 
          
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock 'start' %}