{% extends "base.html" %}
{% block 'start' %}
<div class="container mt-5">
  <form class="col-6 mx-auto card shadow-lg p-4" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h2>Blog Form</h2>
    <hr>
    <!-- alter message -->
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning {{ message.tags }}-dismissible fade show" role="alert">
      <strong>Dear User </strong>{{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    <div class="mb-3">
      <label for="blog_name" class="form-label">Blog Name</label>
      <input type="text" name="blog_name" class="form-control" id="blog_name">
    </div>

    <div class="mb-3">
      <label for="blog_discription" class="form-label">Blog Discription</label>
      <textarea name="blog_discription" id="blog_discription" class="form-control"></textarea>
    </div>

    <div class="mb-3">
      <label for="blog_image" class="form-label">Blog Image</label>
      <input type="file" name="blog_image" class="form-control" id="blog_image">
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>



  

  <div class="div mt-5  col-10 mx-auto">
    <div class="div col-7 mx-auto card shadow-lg p-3 ">
      <legend>Search By Blog Name 
        <form class="d-flex">
          <input class="form-control me-2" type="text" placeholder="Search" aria-label="Search" name="search">
          <button class="btn btn-success" type="submit">Search</button>
        </form>

      </legend>

    </div>
  </div>


  <table class="table table table-striped mt-5 mb-5 shadow-lg table-bordered">

    <thead>
      <tr class="table-dark">
        <th scope="col">#S No</th>
        <th scope="col">Blog Name</th>
        <th scope="col">Blog Discription</th>
        <th scope="col">Images</th>
        <th scope="col">Action</th>

      </tr>
    </thead>
    <tbody>

      {% for queryset in queryset %}


      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{queryset.blog_name}}</td>
        <td>{{queryset.blog_discription}}</td>
        <td>
          <img src="{{queryset.blog_image.url}}" alt="" class="img-fluid rounded-top"
            style="max-width: 100px; max-height: 100px;">
        </td>
        
          <!-- <a href="/delete_blog/{{queryset.id}}" class="btn btn-danger">Delete</a> -->
          <td>
            <a href=" /delete_blog/{{queryset.id}}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this blog?')">Delete</a> <br> <br>
            
              <a href=" /update_blog/{{queryset.id}}" class="btn btn-success">Update</a>
          </td>
          
        
      </tr>


      {% endfor %}

    </tbody>
  </table>
</div>

{% endblock 'start' %}